.features {
  list-style: none;
  padding-left: 69px;
  margin: 35px 0 36px 0;
}

.features__item {
  margin-bottom: 27px;
  margin-right: 25px;
}

.features__title {
  margin: 0;
  position: relative;
  margin-bottom: 15px;
}

.features__text {
  font-size: 14px;
  line-height: 21px;
  color: @mine-shaft;
  margin: 0;
}


@media (min-width: @tablet-width) {
  .features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    width: 100%;
    min-height: 330px;
    margin: 0;
  }

  .features__item {
    text-align: center;
    margin: 0 35px;
  }

  .features__item--house {
    order: -3;
  }

  .features__item--gift {
    order: -1;
    margin: 0 30px;
  }

  .features__item--food {
    order: -2;
    margin: 0 50px;
    position: relative;
  }

  .features__title {
    margin-top: 158px;
    font-size: 21px;
    margin-bottom: 23px;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
  }

  .features__title--house::after {
    content: "";
    background-image: url("../../img/icon-house.svg");
    height: 100px;
    width: 100px;
    top: -112px;
    left: -17px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
  }

  .features__title--gift::after {
    content: "";
    background-image: url("../../img/icon-gift.svg");
    height: 100px;
    width: 100px;
    top: -113px;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
  }

  .features__title--food::after {
    content: "";
    background-image: url("../../img/icon-burger.svg");
    height: 100px;
    width: 100px;
    top: -112px;
    left: -32px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
  }
}

@media (max-width: @tablet-width) {
  .features__text br {
    display: none;
  }
}
