.footer {
  text-align: center;
  margin-top: 20px;
}

.footer__hashtag {
  font-weight: bold;
  font-size: 21px;
  margin: 0;
}

.footer__copyright {
  font-size: 14px;
}

@media (min-width: 768px) {
  .footer{
    margin: 0 60px;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    margin: 0 120px;
  }
}
