.form {
  margin-top: 17px;
}

.form__send-button {
  .button();

  width: calc(100% - 40px);
  margin: 0 20px;
}

.form__footnote {
  margin: 0;
  font-size: 14px;
}

@media (max-width: @mobile-width) {
  .form__footnote {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .form {
    margin: 0 60px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 95px;
  }

  .form__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .form__send-button {
    width: 324px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .form {
    margin: 0 120px;
  }

  .form__send-button {
    width: 480px;
  }
}
