.picture__content {
  margin: 0 20px;
}

.picture__name,
.picture__likes {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
}

.picture__name {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
}

.picture__likes {
  margin-top: 14px;
  margin-left: 37px;
  position: relative;
}

.picture__like {
  position: absolute;
  left: -36px;
  top: -1px;
  fill: fade(@black, 30%);
}

.picture__maker {
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  margin: 0;
  color: @mine-shaft;
}

.picture__photo {
  width: 280px;
}

@media (min-width: @tablet-width) {
  .picture__text {
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: @concrete;
    padding-bottom: 17px;
  }

  .picture__text--another {
    background-color: @gallery-light;
  }

  .picture__photo {
    display: block;
    width: 100%;
    max-height: 267px;
  }

  .picture__name {
    margin-top: 15px;
  }

  .picture__likes {
    min-width: 53px;
    margin-top: 18px;
  }

  .picture__like {
    top: 0;
    left: -32px;
  }

  .picture__content {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .picture__text {
    background-color: @black-opacity;
    mix-blend-mode: normal;
    position: relative;
    bottom: 80px;
    margin-bottom: -80px;
    color: @white;
  }

  .picture__maker {
    color: @white;
  }

  .picture__like {
    left: -32px;
    fill: @white;
  }
}
