.reasons__list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.reasons__item{
  padding: 35px 0;
  background-color: #eeeeee;
}

.reasons__item--important{
  background-color:#81B3D2;
  color: #ffffff;
}

.reasons__title,
.reasons__description{
  margin: 0;
  text-align: center;
}

.reasons__title{
  font-size: 18px;
}

.reasons__description{
  font-size: 14px;
}

.reasons__features{
  background-color: #ffffff;
  color: #000000;
}
