.reasons__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reasons__text {
  padding: 24px 0;
  background-color: @gallery;
}

.reasons__text--important {
  background-color: @half-baked;
  color: @white;

  .reasons__description {
    color: @white;
  }
}

.reasons__title,
.reasons__description {
  margin: 0;
  text-align: center;
}

.reasons__title {
  font-size: 18px;
}

.reasons__description {
  font-size: 14px;
  color: @mine-shaft;
}

.reasons__features {
  background-color: @white;
  color: @black;
}
