.video-presentation {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: @mine-shaft;
  margin-bottom: 144px;
}

.video-presentation__title {
  font-size: 18px;
  line-height: 26px;
  margin-top: 12px;
}

.video-presentation__text {
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 34px;
  max-width: 276px;
  text-align: center;
}

.video-presentation__picture {
  vertical-align: bottom;
  width: 100%;
  height: 201px;
}

.video-presentation__video {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

@media (max-width: @mobile-width) {
  .video-presentation__text br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .video-presentation {
    margin-bottom: 75px;
  }

  .video-presentation__title {
    font-size: 30px;
    margin-top: 57px;
  }

  .video-presentation__text {
    margin-top: 33px;
    margin-bottom: 80px;
    max-width: none;
  }

  .video-presentation__picture {
    height: 500px;
    width: 648px;
    margin: 0 auto;
  }

  .video-presentation__video {
    width: 648px;
  }
}

@media (min-width: @desktop-width) {
  .video-presentation {
    margin-bottom: 121px;
  }

  .video-presentation__title {
    margin-top: 61px;
  }

  .video-presentation__text {
    margin-top: 33px;
    margin-bottom: 78px;
  }

  .video-presentation__picture {
    width: 800px;
  }

  .video-presentation__video {
    width: 800px;
  }
}
