@import "blocks/header.less";
@import "blocks/intro.less";
@import "blocks/reasons.less";
@import "blocks/features.less";
@import "blocks/footer.less";
@import "blocks/social.less";
@import "blocks/intro-photo.less";
@import "blocks/pictures.less";
@import "blocks/picture.less";

body{
  font-family: 'PT Sans', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
  width: 320px;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
